<!DOCTYPE html>
<html>
	<head>
		<title>Graphs</title>
	</head>
	<body>
		{% if error %}
		<p style='color:red'>{{ error }}</p>
		{% endif %}
		<h1>Machine Learning for Diabetes</h1>
		<p>
		Select a classifier below and check the features you want to classify by.
		If you choose only two features you will recieve a visaulizaiton of the prediction.
		</p>
		<h2>Python documentation</h2>
		<ul>
			<li><a href='data.html'>data.py</a></li>
			<li><a href='fitting.html'>fitting.py</a></li>
			<li><a href='visualize.html'>visualize.py</a></li>
		</ul>
		
		<br>
		
		{% if visualizable %}
		<!-- Send timestamp to force update on image -->
		<img src='image.svg?time={{ timestamp }}'/>
		{% endif %}
		{% if train_score and test_score %}
		<table border='1px solid black'>
			<tr>
				<th></th>
				<th>Train</th>
				<th>Test</th>
			</tr>
			<tr>
				<th>Score</th>
				<th>{{ train_score }}</th>
				<th>{{ test_score }}</th>
			</tr>
		</table>
		{% endif %}

		<form method='POST' action='render_image'>
			<select name='classifier'>
				{% for classifier_name in classifier_options %}
				<option 
					value='{{ classifier_name }}'
					{% if classifier_name == classifier %}
					selected
					{% endif %}
				>
					{{ classifier_name }}
				</option>
				{% endfor %}
			</select>
			<br>
			{% for feature_name in feature_options %}
			<input
				type='checkbox' 
				name='feature_set'
				value='{{ feature_name }}'
				{% if feature_name in feature_set %}
				checked
				{% endif %}
			>
				{{ feature_name }}
			</input><br>
			{% endfor %}
			<br>
			<input type='submit' value='Submit'/>
		</form>
	</body>
</html>
